1 ICON "sow.ico"

#include "winuser.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "tilmi.manifest"

#include "winver.h"

1 VERSIONINFO
FILEVERSION    3, 0, 0, 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Makes State of War til/tmi resources"
            VALUE "CompanyName", "State of War PostBar"
            VALUE "FileDescription", "Tilmi"
            VALUE "FileVersion", "3.0.0.0"
            VALUE "InternalName", "tilmi"
            VALUE "LegalCopyright", "JDBMPL @ State of War PostBar"
            VALUE "OriginalFilename", "tilmi.exe"
            VALUE "ProductName", "Tilmi"
            VALUE "ProductVersion", "1.0"
    END
END
BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04e4
    END
END
